header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #007bff;
  color: white;
  margin-bottom: 10px;
}

header h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

nav {
  display: flex;
}

nav a {
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  color: #00f7ff;
  font-weight: bold;
  text-decoration: underline;
}
